services:
  db:
    image: postgres:14 # CockroachDB cluster might be a better fit for production deployment
    restart: always
    volumes:
      - /var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: squid-archive

  ingest:
    depends_on:
      - db
    restart: on-failure
    image: subsquid/substrate-ingest:firesquid
    volumes:
      - "./typesBundle.json:/configs/typesBundle.json"
    command: [
        "-e",
        "wss://tfchain.grid.tf",
        "-c",
        "20", # allow up to 20 pending requests for the above endpoint (default is 5)
        # add another endpoint to increase archiving speed and reliability.
        #  "-e", "wss://kusama-rpc.dwellir.com",

        #  "--start-block", "1000000", # uncomment to specify a non-zero start block
        "--out",
        "postgres://postgres:postgres@db:5432/squid-archive",
        "--types-bundle",
        "/configs/typesBundle.json",
      ]

  gateway:
    depends_on:
      - db
    image: subsquid/substrate-gateway:firesquid
    environment:
      DATABASE_MAX_CONNECTIONS: 5
      RUST_LOG: "actix_web=info,actix_server=info"
    command: [
        "--database-url",
        "postgres://postgres:postgres@db:5432/squid-archive",
        "--database-max-connections",
        "3", # max number of concurrent database connections
      ]
    ports:
      - "8888:8000"

  # Explorer service is optional.
  # It provides rich GraphQL API for querying archived data.
  # Many developers find it very useful for exploration and debugging.
  explorer:
    image: subsquid/substrate-explorer:firesquid
    environment:
      DB_TYPE: postgres # set to `cockroach` for Cockroach DB
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: "squid-archive"
      DB_USER: "postgres"
      DB_PASS: "postgres"
    ports:
      - "4444:3000"

networks:
  default:
    external:
      name: graphql
